[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
msgpack-python = "*"
celery = {extras = ["redis"], version = "*"}
flask = "*"
pillow = "==7.2.0"

[requires]
python_version = "3.8"
